.content{
	width:100%;
	margin-right:10px;
	text-align: center;
	text-decoration: none;
}

.header{
	height: 39px;
	line-height: 38px;
	width:100%;
	text-align: center;
	font-weight: bold;
	font-size:19px;
	margin-top: 10px; 
	margin-right: 10%;
}
.title{
	font-size:19px;
	position: relative;
	bottom:4px; 
	color: red;
	padding-right: 20%;
	margin-left: 29%;
	text-align: center;
}
.xiala{
	width:30%;
	float:left;
	color:black;
	font-size:16px;
	padding-left:10px;
	padding-bottom: 0px;



}
#dLabel{
	text-decoration: none;
	 padding-bottom: 0px;
}
.city{
	text-align: center;

}
.glyphicon glyphicon-user{
	display: inline-block;
	float:right;
	width:5%;
	height:5%;

}


.carousel-inner,.header-photo{
	width: 100%;
	height: 120px;
	clear: both;
}
.main{
	width: 100%;
	line-height: 120px;
	margin:0 auto; 

}
.renzheng{
	width: 40%;
	margin-top: 5px;
	margin-left: 5%;
	text-align: center;
	float: left;
	line-height: 40px;
	font-size: 16px;
	border:1px solid #dddddd;
	border-radius:10px;
	background-color: #efefef;

}
#link1,#link2,#link3,#link4,#link5{

	text-decoration: none;
}
#link5{
		text-decoration: none;
	color: red;

}
.danbao{
		
	width: 40%;
	margin-top: 5px;
	margin-left: 5%;
	margin-right: 3%;
	text-align: center;
	float: left;
	line-height: 40px;
	font-size: 16px;
	border:1px solid #dddddd;
	border-radius:10px;
	background-color: #efefef;
}
.rijie{
	width: 40%;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 5%;
	text-align: center;
	float: left;
	line-height: 40px;
	font-size: 16px;
	border:1px solid #dddddd;
	border-radius:10px;
	background-color: #efefef;

}
.zhaopin{
	
	width: 40%;
	margin-top: 5px;
	margin-left: 5%;
	margin-right: 3%;
	text-align: center;
	float: left;
	line-height: 40px;
	font-size: 16px;
	border:1px solid #dddddd;
	border-radius:10px;
	background-color: #efefef;

}
.small{
	float: right;
	padding-right: 15px;
}

#main-photo{
	width: 100%;
	height: 70px;
	
	clear:both;
	border-top: 4px solid rgb(217,217,217);
	border-bottom: 4px solid rgb(217,217,217);


}

.liebiao{
	width: 100%;
	line-height:50px;
	margin-top: 0px;
	


}


.list-group{
	display: block;
	text-align: center;
	clear:both;
	margin-bottom: 0px;
}
.foot{
	width:100%;
	clear: both;
	font-size: 12px;
	text-align: center;
	line-height: 20px;
	position:relative;
	top:0px;
	clear:both;
}
.foot-word{
	color: red;
	text-align: center;
}
.img-circle{
	width:20%;
	float: left;
	height:60px;
}
.list-word{
	width:80%;
	float:left;
	text-align: left;
	padding-right: 5px;
}
.list-group-item{
	padding: 5px 10px;
}